<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ControleAcesso" connectionString="pV/KkjjD1yVxn4t40w2WAw5eHoNAMgejktnIshhUFpJrPDXynHccHYeORgEEKFiRraDhy5RBpLVx7ZI1a1V6JsluBQZitDtkFnTD4vhPC7+F82noo0Lkqu6pud+LnEpD" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<appSettings>
		<add key="ambiente" value="1"/>
	</appSettings>
	<system.web>
		<globalization culture="pt-BR" uiCulture="pt-BR" />
		<customErrors mode="Off"/>
		<compilation debug="true"/>

    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="login.aspx" timeout="10" slidingExpiration="true" />
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>

  </system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
