<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="controle_acesso" 
		connectionString="5FERpU6O0ht49fY+N2dXCE7YLdnLUURlA8ottdGKgY1ak6zdytUJQLU+u7glBl7bwhMjYTy6urpUtbyaZHN3NPt7b1sQYRux/+YRDlm0DHms/83dSCH8YT7VNHweFPLzoD7Svx2NpKg=" 
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="ambiente" value="1"/>
	</appSettings>
	<system.web>
		<globalization culture="pt-BR" uiCulture="pt-BR" />
		<customErrors mode="Off"/>
		<compilation debug="true"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
