<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="controle_acesso" connectionString="data source=RMATSUTANI-NOTE\SQLEXPRESS;Initial Catalog=CONTROLE_ACESSO;User Id=sa;Password='';" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="ambiente" value="1"/>
	</appSettings>
	<system.web>
		<globalization culture="pt-BR" uiCulture="pt-BR" />
		<customErrors mode="Off"/>
		<compilation debug="true"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
