<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="timeout" value="300"/>
    <add key="id-aplicativo" value="5"/>
    <!-- 1) Autenticação do Windows; 2) Usuário e Senha; -->
    <add key="tipo-autenticacao" value="2"/>
    <!-- Em minutos -->
    <add key="timeout-interface" value="10"/>
  </appSettings>
  <connectionStrings>
    <!-- ORACLE : CA -->
    <add name="ca" connectionString="pV/KkjjD1yV2wgwC5C41OnssECNWZKzw9+clQqON59W1btImpyhXIotp8tCa0e3G" providerName="Oracle.DataAccess.Client"/>
    <!--DB_CA_DESENV_V20_001-->
    <!--<add name="ca" connectionString="O8Ei0lF6r39wkDcf7Q8KlQ5eHoNAMgejktnIshhUFpJrPDXynHccHSlvU1ABwMb24dUZdY45X44RavBHkhB+qv/mEQ5ZtAx5rP/N3Ugh/GE+1TR8HhTy86A+0r8djaSo" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
