.navigation
{
	width:20%;
	height:80%;
	margin: 5px 5px 0px 5px;
	border:solid 1px #808080;
	background-color:#ffffff;
	float:left;
	vertical-align:bottom;
	position:relative;
}

.navPanel
{
	padding:10px;
	height:60%;
	overflow:auto;
	margin:1px;
}

.navPanel a, .navPanel a:visited
{
	padding:5px 5px;
	display:block;
	color:#000000;
	border:solid 1px #ffffff;
	text-decoration:none;
}

.navPanel a:hover
{
	background-color:#FFE88C;
	border:solid 1px #D69C00;
}

.navSeparator
{
	height:10px;
	background-image:url('../Images/nav_separator.png'); background-repeat:repeat-x; background-position:center;
}

.navSelect
{
	position:absolute;
	bottom:0px;
	width:100%;
}

.navSelect a
{
	height:22px;
	display:block;
	padding:5px;
	background-image:url('../Images/nav_link.png'); background-repeat:repeat-x;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
}

.navSelect a:hover
{
	background-image:url('../Images/nav_link_hover.png'); background-repeat:repeat-x;
}

.submenu
{
    margin-left: 20px;
}